@import "tailwindcss";

@theme {
  --color-bg: #000000;
  --color-surface: #0A0A0A;
  --color-border: #262626;
  --color-primary: #FFFFFF;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A1A1AA;
  --color-text-tertiary: #525252;
  --color-error: #EF4444;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-text-primary);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}